* {
    box-sizing: border-box;
}

.giphy-gif {
    border: solid 4px transparent;
    margin: 0 2px;
    border-radius: 12px !important;
    cursor: pointer;
}

/* Nav bar */

.mobile-container {
    max-width: 480px;
    width: 100%;
    margin: 0 auto;
    background-color: snow;
    height: 500px;
    border-radius: 5px;
  }

  .post-section {
    padding-bottom: 50px
  }
  
  .topnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: relative;
    top: 0;
  }
  
  .sidenav {
    height: 30%;
    width: 0px;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: rgb(255, 234, 237, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    border-radius: 13px;
    margin-left: 8px;
  }

  .close-icon {
  position: absolute;
  top: 1;
  right: 25px;
  margin-left: 50px;
  padding-top: 5px;
  }

  .nav-info {
    padding: 20px;
  }

  
  .icon {
    margin: 7px;
    font-size: 1.4em;
  }

  .icon:hover {
    transform: scale(1.1);
  }
  
  /* blog sections */
  
  .root {
    display: flex;
    justify-content: center;
  }
  
  p {
    color: black;
  }
  
  .blog-entry {
    border: 2px solid gray;
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: gray;
    margin: .5rem;
  }
  
  form {
    padding-top: 10px;
  }
  
  .comment-bttn {
    background-color: deeppink;
    border: 4px solid deeppink;
    border-radius: 4px;
    margin-bottom: 4px;
  }
  
  .like-bttn {
    background-color: deeppink;
    border: 4px solid deeppink;
    border-radius: 20px;
    margin-right: 4px;
    margin-bottom: 4px;
  }
  
  footer {
    background: deeppink;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  footer textarea {
    resize: none;
    width: 90%;
    font-size: 16px;
  }
  
  .popup-postarea {
    visibility: hidden;
    width: 100%;
    height: 0;
    padding: 0;

  }
  
  .display {
    visibility: visible;
    height: auto;
    padding: 15px 0;
  }
  
  #popup-post {
   border-radius: 60%;
   border: none;
   font-size: 1.8em;
  }

  #giphy-search {
      font-size: 16px
  }


  /* The side navigation menu */
#sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
