/* font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'Nanum Pen Script', cursive;
font-family: 'Reenie Beanie', cursive;
font-family: 'Schoolbell', cursive; */

* {
  box-sizing: border-box;
}

html {
  font-family: "Dosis", sans-serif;
  color: var(--text-color);
}

body {
  --container-color: #f9f3f3;
  --background-color: white;
  --accent-color: #dddddd;
  --text-color: rgb(27, 26, 26);
  --transition-delay: 1.5s;
  --button-color: #f25287;
  --accent-color-pink: #f7d9d9;
  --button-shadow: 1px 1.5px rgb(182, 181, 181);

  background-color: var(--background-color);
  transition: var(--transition-delay);
}

body.dark {
  --container-color: rgb(0, 0, 0);
  --background-color: rgb(0, 0, 0);
  --accent-color: rgb(53, 53, 53);
  --text-color: rgb(230, 230, 230);
  --button-color: rgb(252, 84, 173);
  --button-shadow: 1px 1.5px rgb(68, 66, 66);

  background-color: var(--background-color);
}

.giphy-gif {
  border: solid 4px transparent;
  margin: 0 2px;
  border-radius: 12px !important;
  cursor: pointer;
}

/* Nav bar */

.mobile-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--container-color);
  transition: var(--transition-delay);
  border-radius: 5px;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
}

.post-section {
  padding-bottom: 200px;
}
/* What is this sidenav for? */
.sidenav {
  height: 30%;
  width: 0px;
  position: absolute;
  z-index: 1;
  top: 0;
  background-color: rgb(255, 234, 237, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
  border-radius: 13px;
  margin-left: 8px;
  margin-top: 8px;
  max-width: 370px;
}

.close-icon {
  position: absolute;
  top: 1;
  right: 0;
  margin-left: 50px;
  padding: 10px;
  cursor: pointer;
}

.dark-mode-button {
  position: absolute;
  bottom: 0;
  margin: 20px;
  color: black;
}

.moon-icon {
  color: black;
}

.dark .moon-icon {
  color: rgb(253, 192, 60);
  transition: 1s;
}

.nav-info a {
  padding: 20px;
  color: black;
  text-decoration: none;
}

.icon {
  margin: 8px;
  font-size: 1.4em;
  color: var(--text-color);
}

.icon:hover {
  transform: scale(1.1);
}

/* blog sections */

.root {
  display: flex;
  justify-content: center;
}

p {
  color: var(--text-color);
}

.blog-entry {
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--accent-color);
  transition: var(--transition-delay);
  margin: 0.5rem;
  border-top: solid 1px var(--accent-color-pink);
  border-bottom: solid 1px var(--accent-color);
}

.blog-entry-font-1 {
  font-family: "Reenie Beanie", cursive;
  font-size: 2rem;
}

.blog-entry-font-2 {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}

.blog-entry-font-3 {
  font-family: "Schoolbell", cursive;
  font-size: 2em;
}

.blog-entry-font-4 {
  font-family: "Nanum Pen Script", cursive;
  font-size: 2rem;
}

.blog-entry-font-5 {
  font-family: "Just Another Hand", cursive;
  font-size: 2rem;
}

form {
  padding-top: 10px;
}

/* Buttons */

#popup-post {
  border-radius: 50%;
  background: none;
  border: none;
  font-size: 1.8em;
  height: 3rem;
  width: 3rem;
  transition: 0.3s;
  transition-delay: none;
  font-family: "Times New Roman", Times, serif;
}

.primary-bttn {
  /* hot, new, comment */
  background: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  padding-top: 1px;
  padding-bottom: 2px;
  margin: 3px;
  margin-left: 2px;
  cursor: pointer;
  font-family: "Dosis", sans-serif;
  box-shadow: var(--button-shadow);
}

.primary-bttn:hover {
  transform: scale(1.03);
}

.secondary-bttn {
  /* getmoreposts */
  border: var(--button-color) dotted 2px;
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 4px;
  font-size: 25px;
  padding-top: 1px;
  padding-bottom: 2px;
  cursor: pointer;
  transform: scale(1.03);
  transition: var(--transition-delay);
  font-family: "Dosis", sans-serif;
  box-shadow: var(--button-shadow);
}

.read-comment-bttn {
  background-color: var(--accent-color);
  color: var(--text-color);
  border: none;
  padding: 6px;
  transition: var(--transition-delay);
  font-family: "Dosis", sans-serif;
}

.reaction-bttn {
  background: var(--button-color);
  border: none;
  border-radius: 50px;
  width: 42px;
  height: 42px;
  font-size: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: var(--button-shadow);
}

.reaction-bttn:hover {
  background-color: limegreen;
}

.dark .reaction-bttn:hover {
  background-color: rgb(84, 201, 84);
}

.first-to-comment {
  padding: 3px;
  color: var(--text-color);
  font-family: "Dosis", sans-serif;
}

.reaction-badge {
  position: relative;
  background-color: #8500ff;
  border: solid 0.2px #4c0192;
  font-size: 14px;
  line-height: 0;
  font-weight: 500;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 50px;
  right: 12px;
  bottom: 24px;
  font-family: "Dosis", sans-serif;
}

footer {
  background: var(--button-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 480px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

footer textarea {
  resize: none;
  width: 90%;
  font-size: 16px;
  background-color: var(--container-color);
  color: var(--text-color);
}

input {
  background-color: var(--container-color);
  color: var(--text-color);
}

.popup-postarea {
  visibility: hidden;
  width: 100%;
  height: 0;
}

.display {
  visibility: visible;
  height: auto;
  padding-top: 1rem;
}

.rotate {
  transform: rotate(45deg);
}

#giphy-search {
  font-size: 16px;
}

.top-button-section {
  margin: 0.5rem;
}

#get-more-posts {
  margin: 0.5rem;
}

/* css for comment box + comments should move */
.add-comment-textarea {
  font-size: 16px;
}

.comment-cont {
  display: none;
}

.display-comments {
  display: block;
}

.post-comment-textarea {
  font-size: 16px;
}

.post-comment-cont {
  display: flex;
  align-items: center;
}

/* About and contact pages */

#info-pages {
  margin: 0.5rem;
}

.profiles {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
